.company-menu-top-wrap {
    width: 100%;
}

.company-menu-top-wrap .company-menu-top {
    position: relative;
    width: 100%;
    height: 300px;
}
.company-menu-top-wrap .company-menu-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.company-menu-top-wrap .company-menu-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.company-menu-top-wrap .company-menu-top-content {
    width: 100%;
}