.main-header-container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    color: #FFFFFF;
    background-color: var(--primary-color);
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 5px 1px rgba(0, 0, 0, 0.25);
}

/* .main-header-container.sticky {
    position: sticky;
    top: 0;
} */

.main-header-container .main-header-top {
    width: 100%;
    background-color: var(--primary-color);
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
}

.main-header-top .main-header-top-address {
    font-weight: 600;
}

.main-header-top .main-header-top-icons {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 1rem;
    right: 0;
}

.main-header-container .main-header-title-container {
    width: 85%;
    padding-top: 16px;
}

.main-header-title-container .main-header-title {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: 600;
    gap: 0.65rem;
}

.main-header-container .main-header-button {
    width: 100%;
    padding-top: 2rem;
}

.main-header-container .main-header-button button {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    text-align: center;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: var(--primary-bold);
    color: #000000;
}