.tab-container {
    width: 100%;
}

/* Ant Design */
.tab-container .ant-tabs-nav-wrap {
    margin-top: 1rem;
    width: 100%;
}

.tab-container .ant-tabs .ant-tabs-tab {
    padding-bottom: 6px;
    min-height: fit-content;
}

.tab-container .ant-tabs .ant-tabs-nav-list {
    align-items: center;
}