.day-selector-modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

.day-selector-wrap {
    width: 100%;
    height: 30vh;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 10px 10px 0 0;
    background-color: #FFFFFF;
}

.day-selector-wrap.open {
    animation: up 0.3s;
}

.day-selector-wrap.close {
    animation: down 0.3s;
}

@keyframes up {
    0% {
        transform: translateY(100%);
    }
    100% {       
        transform: translateY(0%);
    }
}

@keyframes down {
    0% {
        transform: translateY(0%);
    }
    100% {       
        transform: translateY(100%);
    }
}

.day-selector-wrap .day-selector-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-radius: 10px 10px 0 0;
    padding: 30px;
    padding-bottom: 80px;
    position: relative;
}

.day-selector-container .day-selector-cancel {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--gray1-color);
}

.day-selector-wrap .day-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.day-selector-wrap .day-button-container button {
    flex: 1 auto;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1rem;
    border: 1px solid var(--gray4-color);
}

.day-button-container .day-button.selected {
    color: #FFFFFF;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}