.company-title {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 11pt;
    color: #6b7280;
}

.company-text {
    font-size: 13pt;
}

.company-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding-bottom: 2rem;
}

.right-bracket {
    display: inline-block;
    position: relative;
    width: 0.75rem;
    height: 0.75rem;

    border-top: 2px solid #9ca3af;
    border-right: 2px solid #9ca3af;
    transform: rotate(45deg);
}

.request-date-container {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    margin-bottom: 10px;
}

.request-date-container button {
    border: 1px solid var(--gray3-color);
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px 20px;
}

.request-date-container button:hover {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
}