.company-title-container {
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;

    width: 100%;

    padding: 30px 0 0 30px;
    gap: 15px;

}

.company-title-img {
    display: flex;

    justify-content: center;
    align-items: center;
}

.company-tile-name {
    display: flex;

    justify-content: center;
    align-items: center;
}

.company-title-navigate {
    display: flex;

    width: 5%;

    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: larger;
    color: #85B6FF;
}