:root {
    --primary-color: #1E90FF;

    --border-color: #E3E3E3;
    --divider-color: #F5F5F5;

    --gray1-color: #969696;
    --gray2-color: #5B5B5B;
    --gray3-color: #C8C8C8;
    --gray4-color: #F5F5F5;

    --red-color: #E23636;
    --green-color: #82DD55;
    --orange-color: #EDB95E;
}