/* CUSTOM FONT CLASS */
.title {
	font-size: 1.5rem;
	font-weight: 600;
}
.sub-title {
	font-size: 1.25rem;
	font-weight: 600;
}
.info-title {
    color: var(--info-title-color);
}



.flagship-service-wrap {
    display: flex;
    align-items: center;
}
.flagship-service {
    color: var(--info-title-color);
    position: relative;
    margin-right: 8px;
    vertical-align: middle;
}
.flagship-service::after {
    content: '';
    height: 12px;
    width: 1px;
    background-color: var(--info-title-color);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: -8px;
}
.flagship-service:last-child {
    margin-left: 8px;
}
.flagship-service:last-child::after {
    display: none;
}



.rating {
    font-weight: 600;
}