.total-price-check-wrap {
    width: 100%;
}

.total-price-check-wrap .total-price-check-title {
    width: 100%;
    margin-bottom: 1rem;
}

.total-price-check-wrap .total-price-check-container {
    width: 100%;
    border: 1px solid var(--gray3-color);
    border-radius: 10px;
    padding: 1.5rem;
}

.total-price-check-wrap .total-price-unit-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--gray3-color);
    gap: 1rem;
    padding-bottom: 2rem;
}

.total-price-check-wrap .total-price-unit-box,
.total-price-check-wrap .total-price-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.total-price-check-wrap .total-price-box {
    padding-top: 2rem;
}