.total-price-container {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.total-price-title {
    padding: 0 0 5px 0;
    margin-bottom: 10px;
}

.total-price-content-wrap {
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;

    padding: 35px;
    gap: 20px;

    border: 1px solid #969696;
    border-radius: 5px 5px 0px 0px;
}

.total-price-content {
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: space-between;
}

.total-price-scheduled {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;

    padding: 20px 35px 20px 35px;

    border-right: 1px solid #969696;
    border-bottom: 1px solid #969696;
    border-left: 1px solid #969696;
    border-radius: 0px 0px 5px 5px;
}