.chat-room-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    height: calc(100% - 59px - 51px);
    background-color: #F3F4F8;

    padding: 25px 16px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}