.chat-ballon {
    padding: 15px;
    font-size: 16pt;
    border-radius: 10px;

    width: fit-content;
    max-width: 300px;
    line-height: 2rem;

    word-break: keep-all;
}

.chat-ballon.self {
    background-color: #1E90FF;
    align-self: flex-end;
    color: white;
}

.chat-ballon.other {
    background-color: white;
    color: black;
}