.company-detail-top-images {
    position: relative;
    width: 100%;
    height: 300px;    
}
.company-detail-top-images img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    object-fit: cover;
}
.company-detail-top-images::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    pointer-events: none;
}

.company-detail-top-box1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    padding: 2rem 0;
    border-bottom: 2px solid var(--divider-color);
}
.company-detail-top-box1 .company-detail-top-info1 {
    display: flex;
    align-items: center;
}
.company-detail-top-box1 .company-detail-top-info1 svg {
    vertical-align: text-bottom;
}
.company-detail-top-box1 .company-detail-top-info1 span:last-child {
    padding-left: 0.25rem;
}

.company-detail-top-box2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 16px 20px;
}
.company-detail-top-box2 .company-detail-top-info3 span:first-child{
    padding-right: 0.5rem;
}