.profile-payment-management {
    display: flex;
    flex-direction: row;

    width: 100%;
    padding: 1rem;
    margin: 10px;
    margin-top: 1rem;
    margin-bottom: 0;

    gap: 30px;

    background-color: #FAFAFA;
    border-radius: 10px;
}

.payment-info {
    font-size: 0.9rem;
    color: #8E8E8E;
}