.top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 20px;
    z-index: 500;
}

.top-container .top-back {
    width: 90px;
    padding-left: 16px;
}

.top-container .top-title {
    font-size: 1.25rem;
}

.top-container .top-icons {
    width: 90px;
    padding-right: 16px;
}
.top-container .top-icons svg:first-child {
    margin-right: 16px;
}