.service-history-card-wrap {
    width: 100%;
}

.service-history-card-top-wrap {
    width: 100%;
}

.service-history-card-wrap .service-history-card-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--border-color);
}

.service-history-card-top .service-history-card-company {
    vertical-align: middle;
}

.service-history-card-wrap .service-history-card-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
}

.service-history-card-bottom .service-history-card-date {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0.25rem;
}

.service-history-card-wrap .service-history-card-button {
    margin-top: 1rem;
    width: 100%;
}