.company-content-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    gap: 10px;

    padding: 10px 0 10px 10px;

    border: 1px solid #969696;
    border-radius: 5px 5px 0px 0px;
}

.company-content-selection {
    display: flex;
    flex-direction: column;

    width: 70%;

    gap: 5px;
}

.company-content-img {
    display: flex;

    width: 30%;

    justify-content: center;
    align-items: center;
}

.company-content-selection-change {
    display: flex;

    justify-content: center;
    align-items: center;

    padding: 20px;

    width: 100%;

    border-right: 1px solid #969696;
    border-bottom: 1px solid #969696;
    border-left: 1px solid #969696;
    border-radius: 0px 0px 5px 5px;
}

.company-content-service-name {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 100%;

    gap: 7px;
}

.company-content-service-optional {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.company-content-service-total-price {
    padding: 5px 0 5px 0;
    
}